* {
  box-sizing: border-box;
}
body {
  background-color: #edf6fa;
}
nav {
  width: 100%;
  background-color: rgb(140, 140, 237);
  height: 70px;
}
h1 {
  font-size: 36px;
  color: rgb(60, 62, 93);
  display: inline-block;
  height: 100%;
  padding-top: 13px;
  padding-left: 20px;
}
#intro p {
  font-size: 20px;
  color: rgb(0, 54, 112);
  padding: 30px;
}
#picture img {
  width: 100%;
}
footer p {
  font-size: 20px;
  color: rgb(0, 54, 112);
  padding: 30px;
}
