* {
  box-sizing: border-box;
}
body {
  background-color: #edf6fa;
}
nav {
  width: 100%;
  background-color: rgb(73, 73, 73);
  height: 70px;
}
.navtext {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 36px;
  color: rgb(229, 229, 229);
  display: inline-block;
  height: 100%;
  padding-top: 13px;
  padding-left: 20px;
}
footer p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 54, 112);
  padding: 30px;
}

.grid-footer {
  background-color: rgb(158, 182, 199);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  grid-gap: 30px;
}
.box {
  width: 80px;
  height: 5px;
  background-color: rgb(142, 141, 141);
  border-radius: 10px;
  position: relative;
}

.second-animation {
  animation-name: line;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes line {
  0% {
    transform: translateX(0vw);
  }
  12.5% {
    transform: translateX(calc(50vw - 40px));
  }
  25% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(calc(100vw - 80px));
  }
  62.5% {
    transform: translateX(calc(50vw - 40px));
  }
  75% {
    transform: translateX(calc(100vw - 80px));
  }
  100% {
    transform: translateX(0vw);
  }
}
