main p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: rgb(0, 54, 112);
  padding: 30px;
}
#yousef-pic img {
  width: 100%;
}
footer p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: rgb(0, 54, 112);
  padding: 30px;
}
.grid-footer {
  background-color: #afc9d4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  grid-gap: 30px;
}
