img {
  width: 100%;
  box-shadow: 1px 1px 15px black;
}

.grid-container {
  margin: 25px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 4;
  gap: 20px;
}
@media only screen and (max-width: 1200px) {
  .grid-container {
    row-gap: 3em;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 760px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.discribtion {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: rgb(0, 54, 112);
  text-align: center;
}
